* {
  font-family: Roboto, sans-serif;
  color: #ffffff;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #d2d2d2;
}

#content {
  /* border: 2px solid #a1b2d67e ; */
  background-color: #4b7dbc;
  box-shadow: 5px 5px 10px #4d4e51;
  /* backdrop-filter: blur(30px); */
  width: fit-content;
  height: fit-content;
}

.hidden {
  display: none;
}

.container {
  display: flex;
}

.x-center {
  justify-content: center;
}

.y-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.col-direction {
  flex-direction: column;
}

.rg-15 {
  row-gap: 15px;
}

.cg-15 {
  column-gap: 15px;
}

.m-10 {
  margin: 10px;
}

.mr-5 {
  margin: 0 5px 0 0;
}

.mt-15 {
  margin-top: 15px;
}

.br-25 {
  border-radius: 25px;
}

.br-15 {
  border-radius: 15px;
}

.br-10 {
  border-radius: 10px;
}

.br-5 {
  border-radius: 5px;
}

.b-0 {
  border: none;
}

.b-1 {
  border: 1px solid
}

.bc-transparent {
  border-color: #ffffff51;
}

.text-transparent {
  color: #ffffff51;
}

.bc-grey {
  border: 1px solid grey;
}

.p-20 {
  padding: 20px;
}

.p-15 {
  padding: 15px;
}

.p-10 {
  padding: 10px;
}

.p-2 {
  padding: 2px;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.text-dark {
  color: grey;
}

.extra-small {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #ebebeb
}

.small {
  margin: 0;
  font-size: 15px;
}

.my-10 {
  margin: 10px 0;
}

.medium {
  font-size: 30px;
  font-weight: 300;
}

.big {
  font-size: 80px;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-weight: 400;
}

form {
  display: flex;
  column-gap: 10px;
}

input {
  width: 200px;
}

/* weather data display classes */
p {
  margin: 10px;
}

div > p.extra-small {
  margin: 10px 13px;
}

hr {
  margin: 0;
}

#name-par {
  margin: 5px;
}

#weather-main-par {
  margin: -8px 5px 5px 5px;
}

.light-blue {
  background-color: #ffffff38;
}

.small-box {
  width: 50%;
}

#temp-scale-div {
  width: 25%;
}

img {
  width: 120px;
  height: auto;
}

/* TODO: remove the classes used just once **/
