/* 
  With box-sizing: border-box, width and height are calculated including padding and border, so they won't increase the size of the element.
 */
* {
  box-sizing: border-box;
}

/* 
  Initialize html and body.
  They have to be 100% height to make the main element take the full height of the viewport.
  The max-width prevents horizontal scrolling when the content is wider than the viewport.
*/
html,
body {
  height: 100dvh;
  max-width: 100dvw;
  margin: 0;
  padding: 0;
}

main {
  height: 100dvh;
  width: 100dvw;
}

footer {
  position: sticky;
  bottom: 0;
  background-color: #75badd;
  border-top-width: 1px;
  border-top-style: solid;
}

p {
  font-size: 1em;
}

button {
  cursor: pointer;
}

section {
  height: calc(100dvh - 35.4px - 30px - 36px - 30px - 284px);
}

input {
  width: 200px;
  background-image: url("../assets/icons/magnifyingglass.svg");
  background-repeat: no-repeat;
  background-position: 3px center;
  background-size: 25px;
}

input.b-0.br-10.p-10.text-white.bg-transparent-lightest {
  padding-left: 30px;
}

input::placeholder {
  color: #ffffff8c;
}

input:focus,
#current-location-btn:focus,
#scale-select:focus,
a:focus {
  outline: 3px solid #3baaf9a9;
}

hr {
  border: 0.5px solid;
}

img {
  width: 120px;
}

button img {
  width: 25px;
}

select {
  border-radius: 5px;
}

a {
  text-decoration: none;
}

i {
  margin: 0;
}

a:hover i.wi,
a:hover {
  color: #ffffff;
  transition: 500ms;
}

#name-par {
  margin: 5px;
}

@media (width <= 500px) {
  input {
    width: 100%;
  }
}
