/* TODO: adjust transparent values */

/* Text */
.text-white {
  color: #ffffff;
}

.text-black {
  color: #1c1c1e;
}

.text-dark {
  color: grey;
}

.text-transparent {
  color: #ffffff8c;
}

.text-error {
  color: #941701;
}

/* Border color */
.bc-transparent {
  border-color: #ffffff51;
}

/* Background color */
.bg-transparent-lightest {
  background-color: #ffffff18;
}

.bg-transparent-light {
  background-color: #ffffff64;
}

.bg-gradient-blue {
  background-image: linear-gradient(to bottom, #164a8b, #75badd);
}

.bg-error {
  background-color: #ff54548a;
}
