@import url("base.css");
@import url("color.css");
@import url("typography.css");
@import url("spacing.css");
@import url("layout.css");

#forecast-container {
  width: 100%;
  column-gap: 10px;
  padding: 15px;
}

#forecast-container div {
  width: 100%;
}

#temp-scale-container {
  row-gap: 10px;
  width: 25%;
}

.scrollable {
  overflow-y: auto;
}

.wi {
  margin-left: 12px;
}

.inactive {
  width: 36px;
  background-size: 25px;
}

.inactive:hover {
  transition: 500ms;
  width: 36px;
}

.active {
  background-color: #ffffff64;
  width: 36px;
}

.error {
  margin: 15px;
  border-radius: 13px;
}

/* TODO: animated icons copy */
/* TODO: responsive */

@media (width <= 500px) {
  #content {
    height: 100dvh;
    width: 100dvw;
  }

  #weather-main-img {
    width: 100px;
  }

  #forecast-container {
    width: 86dvw;
  }

  #temp-content-container,
  #five-days-forecast-container,
  #sun-wind-container,
  #other-info-container {
    justify-content: center;
    flex-wrap: wrap;
  }

  #sun-wind-container,
  #other-info-container {
    row-gap: 15px;
  }

  #temp-scale-container,
  label {
    width: fit-content;
  }

  #scale-select {
    width: 55%;
    text-align: center;
  }

  #sun-wind-container > div,
  #other-info-container > div {
    display: flex;
    flex-grow: 1;
  }
}
