/* Margin */
.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Border */
.b-0 {
  border: none;
}

.b-1 {
  border: 1px solid #ffffff51;
}

.br-10 {
  border-radius: 10px;
}

/* Padding */
.p-2 {
  padding: 2px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.py-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Gap */
.g-5 {
  gap: 5px;
}

.g-10 {
  gap: 10px;
}

.g-15 {
  gap: 15px;
}
